<h1>Airport app</h1>
<p>Do not use directions like north, south, east, and west. Instead use the decimal degree system. Use positive or negative numbers to indicate direction.</p>

<form action="/airports" method="post">
    <label for="lat">Latitude:</label>
    <input type="text" id="lat" name="lat"><br><br>
    <label for="lon">Longitute:</label>
    <input type="text" id="lon" name="lon"><br><br>
    <label for="rad">Radius:</label>
    <input type="text" id="rad" name="rad"><br><br>

    <input type="submit" value="Submit">
</form>
