extends layout

block content
  .container
    .alert(class="alert-danger", role="alert", id="error-group", style="display: none")
      ul(id="errors")

    .row
      .col-sm.col-md-8.offset-md-2.col-lg-6.offset-lg-3
        h3 Send us the coordinates and radius
        form(method='POST' action='/airports')
          .form-group
            input.form-control(type="number", step="any", id="lat", min="-90", max="90", name="lat", placeholder="Latitude in degrees", required)
          .form-group
            input.form-control(type="number", id="lon", step="any", name="lon", min="-180", max="180", placeholder="Longitude in degrees", required)
          .form-group
            input.form-control(type="number", id="rad", step="any", name="rad", placeholder="Radius in kilometers", required)
          .form-group
            button.form-control(type="submit", class="btn btn-primary", id="airport-btn") Submit


